#신나는 파이썬
## 1. 쉬벌

In [129]:
name = 'tom'
print('I am ' + name + '!')
print('I am %-15.2f!' % 575358.26)
print('I like %s and %s.' % ('apple', 'banana'))

I am tom!
I am 575358.26      !
I like apple and banana.

In [142]:
#format
"I like {0}, {1}!" .format('apple', 'banana')
"I like {1}, {0}!" .format('apple', 'banana')
"Number {} {} {}" .format(3,4,5)

f1, f2 = 'apple', 'banana'
"I like {0}, {1}!" .format(f1, f2)

"Number {0:>4}!" .format(1) 
"Number {0:<4}!" .format(2) #숫자를 화살표방향으로 4만큼 밀어라. 
                            #근데 화살표 왼쪽에 암것도 없으니 공백임
"NUMBER {0:0<4}!" .format(1) #숫자를 화살표방향으로 4만큼 밀고 0채워라
"Number {0:3<4}!" .format(1)
"Number {0:4^5}!" .format(1) #숫자 4를 5개 깔고 중간 자리에 1 넣어

'Number 44144!'

In [ ]:
score = { "name":"tom", "math":80, "english":70 }
type(score)

In [6]:
score['name'] = 'michael'
score

{'name': 'michael', 'math': 80, 'english': 70}

In [9]:
score2 = dict(name = "tom", 
             math = 80,
             english = 70)

score2

{'name': 'tom', 'math': 80, 'english': 70}

In [14]:
#키로 딕셔너리 항목 삭제하기
score.pop("name")

KeyError: 'name'

In [17]:
score.pop("math")

KeyError: 'math'

In [22]:
score = { "name":"tom", "math":80, "english":70 }
score.keys()
score.values()
score.items()

dict_items([('name', 'tom'), ('math', 80), ('english', 70)])

In [31]:
a = score.copy()
a

{'name': 'tom', 'math': 80, 'english': 70}

In [34]:
#세트 set = 집합연산 가능하게 함

a = {1, 2, 3, 4, 5}
type(a)

set

In [36]:
animal = {'dog', 'cat', 'butterfly', 'ladybug'}

In [37]:
animol = { 'dog', 'cat', 'saja','horang'}

In [41]:
animal & animol
animal | animol
animal ^ animol#대칭차집합 set.symmetric_difference

{'butterfly', 'horang', 'ladybug', 'saja'}

In [43]:
#상위집합 하위집합 구분. isupperset 부등호가 낫다

animal >= animol

False

In [51]:
#set에 요소 추가하고 삭제하기
a.add(5)
a #이미 있는 5를 삽입했더니 그대로임. 정말 집합 그 자체....

{2, 3, 4, 5}

In [52]:
a.remove(1)

KeyError: 1

In [56]:
#if문
x = 10
if x == 10 : #조건이 true이면 밑에가 실행된다. 
    print('x is 10')
    print('x is 10')#4칸이 공식적, 혹은 탭 한 번. 게다가 안에 있는 애들은 똑같이 줄 맞춰줘야해
    #대체 어느 결벽증또라이가 만든건지 모르겠다. 
    
    #pass라는 게 있다. 
print('x 끝')

x is 10
x is 10
x 끝

In [58]:
x = 21 
if 0 < x < 20 : #and 없이 이런 것도 가능.. 이건 좋네
    print('신난다')

print('막창파티')

막창파티

In [61]:
x = 11
y = 5

if x > 10 : 
    
    if y == 3 :
        print('지혜의 시험')

print('통과하셧슴')

통과하셧슴

In [62]:
jumsu = 87

if jumsu >= 90 :
    print('A')
    
elif 80 <= jumsu < 90 :
    print('B')
elif 70 <= jumsu < 80 :
    print('C')
else : 
    print('F')

B

In [74]:
#실습문제

x = int(input())
y = int(input())
z = int(input())

if 0 <= x <= 100 and 0 <= y <= 100 and 0 <= z <= 100 :
    
    if x > 65 and y > 65 and z > 65 :
        print('합격')
        
    else :
        print('불합격')
        
else : 
    print('잘못입력함')

58
60
99
불합격

In [80]:
#선생님 답안

score1 = int(input('첫번째 점수 : '))
score2 = int(input('두번째 점수 : '))
score3 = int(input('세번째 점수 : '))
print( score1, score2, score3 )

if not(0 < score1 < 100 and 0 < score2 < 100 and 0 < score3 < 100) : 
    print('잘못된 점수 입력됨')
    
elif (score1 > 65 and score2 > 65 and score3 > 65) :  ##1
        print('합격')
else :
        print('불합격')

첫번째 점수 : 200
두번째 점수 : 200
세번째 점수 : 50
200 200 50
잘못된 점수 입력됨